<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MinFin.Report.WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MinFin.Report.WinForm.Properties.Settings.findemoConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=FinDemo;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <MinFin.Report.WinForm.Properties.Settings>
            <setting name="ConStr_New" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;AttachDbFilename=FinDemo;Integrated Security=True;Connect Timeout=5;User Instance=True</value>
            </setting>
            <setting name="ConStr_Old" serializeAs="String">
                <value>Data Source=(local)\sql08;Initial Catalog=findemo;Integrated Security=True</value>
            </setting>
        </MinFin.Report.WinForm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
